/* Contact Section */
#contacts {
   /* background-color: var(--secondary-color);*/
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Contacts Container */
#contacts .contacts {
    display: flex; /* Flexbox for parallel columns */
    flex-direction: column; /* Default to stacked on smaller screens */
    gap: 3rem; /* Space between columns */
}

/* Contact Info */
#contacts .contacts-info {
    flex: 1; /* Equal width for columns */
    display: flex;
    flex-direction: column;
    text-align: left; /* Align text to the left */

}


/* Flexbox Alignment for Larger Screens */
@media (min-width: 768px) {
    #contacts .contacts {
        flex-direction: row; /* Align columns horizontally */
        justify-content: space-between; /* Space evenly between columns */
        align-items: flex-start; /* Align items at the top of the row */
    }
}


  .contacts-info-icon {
    vertical-align: middle;
    fill: var(--primary-color);
  }
  
  .contacts-info-icon-desc {
    padding-left: 0.938rem;
  }
  


/* Responsive Adjustments for Smaller Screens */
@media (max-width: 767px) {
    #contacts .contacts {
        flex-direction: column; /* Stack columns on smaller screens */
    }
}

#contacts h2 {
    margin: 0; /* Remove any top/bottom margin for consistent alignment */
    line-height: 1.2; /* Adjust line height if necessary */
}

.contacts ul {
    list-style: none; /* Removes the bullet points */
    margin: 0; /* Resets margin */
    padding: 0; /* Resets padding */
}
.contacts ul li {
    display: flex; /* Ensures the icon and text align properly */
    align-items: center; /* Vertically aligns the icon and text */
    margin-bottom: 1rem; /* Adds spacing between list items */
}
.contacts p {
    margin-bottom: 20px;
}
