/* Section Portfolio */
#portfolio {
    background-color: #f9f9f9;
    padding: 5rem 0;
    text-align: center;
}

#portfolio h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

#portfolio p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 2rem;
}

/* Grille des cartes */
.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3 cartes par ligne */
    gap: 2rem; /* Espacement entre les cartes */
}

/* Cartes */
/* Cartes */
.portfolio-item {
    background-color: #ffffff; 
        border-radius: 10px; /* Coins arrondis */
    overflow: hidden; /* Empêche le débordement */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    aspect-ratio: 1; /* Assure une forme carrée */
    padding: 1rem;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Transition douce */
}

/* Effet au survol */
.portfolio-item:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombre accentuée */
}


.portfolio-item:hover .portfolio-content {
    -webkit-line-clamp: unset; /* Désactive la limitation */
    overflow: visible; /* Affiche tout le texte */
    white-space: normal; /* Retour au comportement par défaut */
}

/* Images des logos */
.portfolio-item img {
    max-width: 120px; /* Taille légèrement augmentée */
    max-height: 120px; /* Taille légèrement augmentée */
    object-fit: contain; /* Maintient les proportions des logos */
    margin-bottom: 1rem; /* Espacement sous le logo */
    transition: transform 0.3s ease-in-out; /* Ajout d'une animation pour un effet subtil */
}

/* Effet au survol des logos */
.portfolio-item img:hover {
    transform: scale(1.05); /* Légère augmentation au survol */
}

/* Contenu des cartes */
.portfolio-content {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-top: auto;
    display: -webkit-box; /* Active le conteneur flexible */
    -webkit-line-clamp: 3; /* Limite à 3 lignes */
    -webkit-box-orient: vertical; /* Définit l'orientation */
    overflow: hidden; /* Cache le texte débordant */
    text-overflow: ellipsis; /* Ajoute des points de suspension */
    transition: all 0.3s ease-in-out;
}

/* Responsivité */
@media (max-width: 768px) {
    .portfolio-gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne sur tablettes */
    }
}

@media (max-width: 480px) {
    .portfolio-gallery {
        grid-template-columns: 1fr; /* 1 carte par ligne sur mobile */
    }
}
