/* Services Section */
#services {
    padding: 50px 20px;
    text-align: center;
}

#services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service-card {

    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.service-card .material-icons {
    font-size: 3rem;
    color: #5b6268;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555258;
}

.service-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.services-note {
    margin-bottom: 2rem; /* Ajoute un espacement sous le paragraphe */
    text-align: center; /* Assure un alignement centré */
    font-size: 1.1rem; /* Taille de texte plus lisible, si nécessaire */
    color: #555; /* Couleur subtile pour le texte */
}
